*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image: linear-gradient(to bottom right, #A7F3F9, #3399D2);
width: 100vw;
height: 100vh;
}

.box-wrap{
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}

.box{
    width: 300px;
    height: 400px;
}

.d1{
    margin-top: 30px;
    margin-left: 100px;
    background-color: white;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 3px 3px 25px black;
}

.d2{
    margin-top: -300px;
    margin-bottom: -300px;
    margin-left: 300px;
    background-color: white;
    position: relative;
    z-index:2;
    border-radius: 10px;
    box-shadow: 3px 3px 25px black;
}

.d3{
    margin-left: 500px;
    background-color: rgba(0, 128, 0, 0.259);
    position: relative;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 3px 3px 25px black;
}

img.noticia {
    width: 300px;
    border-radius: 10px 10px 0px 0px ;
}

h2{
    text-align: center;
}
h6{
    margin: 5px 15px 0px 15px ;
    
}

.hashtag{
    color: #5892A6;
}

.pessoa{
    position: absolute;
    bottom: 0;
    width: 50px;
    border-radius: 50px;
    margin: 0px 10px 10px 10px;
}

p.nome{
    position: absolute;
    margin-left: 70px;
    margin-top: 10px;
    font-weight: bold;
}

p.followers{
    position: absolute;
    margin-left: 70px;
    margin-top: 30px;
}