body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
#alerta{
    width: 150px;
    height: 40px;
    background-color: rgb(243, 209, 18);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.538);
    position: fixed;
    left:  -200px;
    top: 10px;
    transition: left 300ms;
}

#alerta p{
    margin: 0;
    flex-grow: 1;
}

#alerta button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#alerta button:hover{
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(184, 135, 11, 0.514);
}

.btn-mostrar{
    height: 40px;
    width: 120px;
    border: none;
    background-color: rgb(228, 36, 29);
    color: white;
    font-size: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.538);
}

.btn-mostrar:hover{
    cursor: pointer;
}

.btn-mostrar:active{
    transform: translateY(4px);
}

.mostrar{
    left: 10px !important;
}